*{margin: 0; padding: 0; }
a{text-decoration: none; color: black;}
.App{margin:0 auto; max-width:1280px}
.main{margin-top:50px}

/*헤더부분 담당 : 임채윤*/
.header_container{display: flex; justify-content: flex-end; padding-top:10px}
.header_item{display: flex; align-items: center;}
.header_text{font-size: 12px; font-family: Arial, Helvetica, sans-serif;}
.line{font-size: 13px; margin:0 13px}

/*네비게이션 담당 : 장소현*/
.nav{background-color: #ffffff; z-index: 2;align-items: center; display: flex; flex-flow: row nowrap; position:sticky; top:0;justify-content: space-between; padding-bottom:5px ;background-color: rgb(255, 255, 255); border-bottom: 2px solid rgba(0, 0, 0, 0.127); }
.left_nav{display: flex; align-items: center; }
.nav_logo{font-size: 45px;}
.nav_menu{font-size: 26px; }
.nav_log_text{font-family: 'Tinos',serif;}
.nav_menu_item{padding-left: 60px;font-family: 'Tinos',serif;}
.nav_subMenu{align-items:center; display: flex;}
.right{align-items: center;padding-top:10px}
.nav_subMenu_item{padding-left:23px; font-size: 30px; align-items: center; color: black;}
.nav_subMenu_item_menu{font-size: 32px; padding-left: 23px; position:relative}

/* 네비게이션 메뉴 드롭다운 : 임채윤 */
.dropdown_item{display: none; position: absolute; right:0; top:40px; z-index: 1; font-weight: 400; width: 150px;}
.nav_subMenu_item_menu:hover .dropdown_item{display: flex; flex-flow: column nowrap; background-color: #eeeeee;}
.dropdown_item a{font-size: 15px; padding : 10px 20px;}
.dropdown_item a:hover{background-color: rgb(206, 206, 206);}


/*로그인페이지 담당 : 장소현*/
.box{display: flex; justify-content: center;}
.loginPage{ display: flex; justify-content: center; padding : 0 54px 0 54px; width:450px; height: 500px;  }
.login_txt{font-size: 35px; justify-content: center;display: flex;}
.login_subtxt{font-size: 15px;justify-content: center;display: flex; margin-bottom: 30px;}
.user_input_txt{font-size: 14px;margin-top: 16px;}
.user_input_box{padding: 5px 0 0 5px;height: 30px; width: 450px; display: flex; justify-content: left; margin-top: 13px;border: none; border-bottom: solid 1px #000000;}
.user_input_chekcBox{margin-top: 16px;font-size: 20px;transform : scale(1.2);}
.user_input_chekcBox_txt{font-size: 14px;align-items: first baseline;}
.login_button{border:none; width: 450px; height: 50px; margin-top: 16px; border-radius: 5px;font-size: 15px;margin-bottom: 16px;}
.login_except{ border: none;font-size: 15px; margin-left: 75px; margin-right: 60px; background-color:#ffffff;}
.login_txt{ -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }
.login_subtxt{ -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
  }


/*회원가입 페이지 담당 : 임채윤*/
.signup_page{display: flex; justify-content: center;}
.signup_box{width:450px; height:550px; display:flex; flex-flow: column nowrap;}
.signup_logo{font-size: 40px; text-align: center; margin-bottom: 30px;}
.signup_container{height: 100%; display: flex; flex-flow: column nowrap; justify-content: space-between;}
.signup_item{height:60px; display: flex; flex-flow: column nowrap; font-size: 14px; justify-content: center;}
.signup_input_box,.signup_text_box,.signup_duplicate_check{flex:1 1 100%; border:none;}
.signup_text_box{font-size:16px; padding:5px 0 0 5px; margin-top:2px}
.signup_input_box{font-size: 16px;}
.signup_text_box{border-bottom: 1px solid black;}
.signup_item:nth-child(4){flex-flow: row nowrap;}
div.signup_item_item1, .signup_item_item2{flex:1 1 100%; display: flex; flex-flow: column nowrap;}
input.signup_item_item1{flex: 0 0 80px; margin: 21px 0 0 20px; height:40px;}
.signup_item:nth-child(5){flex-flow: row nowrap;}
.signup_checkbox{margin-bottom: 12px;}
.signup_button{height: 50px;}


/*하단 페이지 담당 : */
.footer{font-size: 12px; margin-bottom: 100px;}
.footer_line{border:1px solid rgba(0, 0, 0, 0.471); margin:50px 0px}


/*메인 홈페이지 담당 : 장소현*/
.banner{z-index: 1;width : auto; height : 400px; background-color : rgb(206, 206, 206) ; margin-bottom : 50px }
.home_txt_1{font-size : 20px; display: block; width:auto;  justify-content: flex-end;flex-shrink: 0; padding-bottom: 10px; border-bottom: 2px solid rgba(0, 0, 0, 0.127);margin-bottom: 30px;}

.look_slide{width : auto; height: 400px; background-color: #000000; margin-bottom:40px;}
.look_Slide_item{width : 100px;height:80px;background-color: #eeeeee;}

.home_txt_2{font-size : 40px; display : flex; justify-content: center; margin-bottom: 10px;}
.home_txt_3{font-size: 18px; display: flex; justify-content: center;margin-bottom: 50px;}